/*
* @Author: Administrator
* @Date:   2017-12-12 14:28:01
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-12 15:34:29
*/

.container,.container-fuild{
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}
.row{
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
}
.row::before,.row::after::{
	content: "";
	width: 0;
	height: 0;
	display: block;
	line-height: 0;
	clear: both;
}
[class*="col-"]{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
/* 大于1200px pc大屏 col-lg-*/
@media screen and (min-width: 1200px){
	.container{
		width: 1170px;
	}
	.col-lg-1{
		width: calc(100% / 12);
	}
	.col-lg-2{
		width: 16.66666%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.33333%;
	}
	.col-lg-5{
		width: 41.66666%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.333333%;
	}
	.col-lg-8{
		width: 66.66666%;
	}
	.col-lg-9{
		width: 75%;
	}
	.col-lg-10{
		width: 83.3333%;
	}
	.col-lg-11{
		width: 91.66666%;
	}
	.col-lg-12{
		width: 100%;
	}
	.hidden-lg{
		display: none;
	}
}
/* 大于992px 小于1200  pc小屏 col-md-*/
@media screen and (min-width: 992px) and (max-width: 1200px){
	.container{
		width: 970px;
	}
	.col-md-1{
		width: calc(100% / 12);
	}
	.col-md-2{
		width: 16.66666%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.33333%;
	}
	.col-md-5{
		width: 41.66666%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.333333%;
	}
	.col-md-8{
		width: 66.66666%;
	}
	.col-md-9{
		width: 75%;
	}
	.col-md-10{
		width: 83.3333%;
	}
	.col-md-11{
		width: 91.66666%;
	}
	.col-md-12{
		width: 100%;
	}
	.hidden-md{
		display: none;
	}
}
/* 大于768px 小于 992px col-sm- */
@media screen and (min-width: 768px) and (max-width: 992px){
	.container{
		width: 750px;
	}
	.col-sm-1{
		width: calc(100% / 12);
	}
	.col-sm-2{
		width: 16.66666%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.33333%;
	}
	.col-sm-5{
		width: 41.66666%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 58.333333%;
	}
	.col-sm-8{
		width: 66.66666%;
	}
	.col-sm-9{
		width: 75%;
	}
	.col-sm-10{
		width: 83.3333%;
	}
	.col-sm-11{
		width: 91.66666%;
	}
	.col-sm-12{
		width: 100%;
	}
	.hidden-sm{
		display: none;
	}
}

/* 小于768px  移动端 col-xs- 不需要设置container*/
@media screen and (max-width: 768px){
	.col-xs-1{
		width: calc(100% / 12);
	}
	.col-xs-2{
		width: 16.66666%;
	}
	.col-xs-3{
		width: 25%;
	}
	.col-xs-4{
		width: 33.33333%;
	}
	.col-xs-5{
		width: 41.66666%;
	}
	.col-xs-6{
		width: 50%;
	}
	.col-xs-7{
		width: 58.333333%;
	}
	.col-xs-8{
		width: 66.66666%;
	}
	.col-xs-9{
		width: 75%;
	}
	.col-xs-10{
		width: 83.3333%;
	}
	.col-xs-11{
		width: 91.66666%;
	}
	.col-xs-12{
		width: 100%;
	}
	.hidden-xs{
		display: none;
	}
}