/*
* @Author: Administrator
* @Date:   2017-12-11 09:24:47
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-11 23:04:56
*/
@import url('base.css');
@font-face {
  font-family: 'iconfont';  /* project id 504459 */
  src: url('https://at.alicdn.com/t/font_504459_4eawmc750pajdcxr.eot');
  src: url('https://at.alicdn.com/t/font_504459_4eawmc750pajdcxr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_504459_4eawmc750pajdcxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_504459_4eawmc750pajdcxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_504459_4eawmc750pajdcxr.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 499990 */
  src: url('https://at.alicdn.com/t/font_499990_szmmpbash0n3ik9.eot');
  src: url('https://at.alicdn.com/t/font_499990_szmmpbash0n3ik9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_499990_szmmpbash0n3ik9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_499990_szmmpbash0n3ik9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_499990_szmmpbash0n3ik9.svg#iconfont') format('svg');
}
.header{
	width: 100%;
	height:0.72rem;
	background: #FC8401;
	color: #fff;
	padding: 0 0.18rem;
	box-sizing: border-box;
	line-height: 0.72rem;
	font-size: 0.19rem;
	border-bottom: 0.01rem solid #C5C5C5;
}
.nav{
	width: 100%;
	height: 0.67rem;
	background: #F9F9F9;
	padding: 0 0.3rem;
	box-sizing: border-box;
	display: flex;
	border-bottom: 0.01rem solid #C5C5C5;
	box-sizing: border-box;
	flex-direction: column;
}
.nav-top{
	width: 100%;
	height: 0.6rem;
	display: flex;
}
.nav-left{
	width: 0.47rem;
	height: 0.22rem;
	font-size:0.22rem; 
	margin-top: 0.21rem;
	color: #000;
}
.nav-center{
	width: 0.7rem;
	height: 0.22rem;
	margin-left: 0.4rem;
	color: #989898;
	margin-top: 0.21rem;
	font-size: 0.22rem;
}
.lantiao{
	width: 0.48rem;
	height: 0.04rem;
	background: #23D1C5;
}
.jiange{
	width: 100%;
	height: 0.15rem;
	background:#FFF8FF;
	border-bottom: 0.01rem solid #C5C5C5;
	box-sizing: border-box;
}
.find-list{
	width: 100%;
	height:2.48rem;
	border-bottom: 0.01rem solid #C5C5C5;
	box-sizing: border-box;
	padding:0 0.19rem;
}
.list-top{
	width: 100%;
	height:0.65rem;
	color: #9A9DA2;
	font-size: 0.23rem;
	line-height:0.65rem;
}
.list-picture{
	width: 100%;
	height: 1.26rem;
}
.list-picture ul{
	width: 100%;
	height: 100%;
	display: flex;
}
.list-picture ul li{
	width: 33.3%;
	height: 100%;
	border-right: 0.07rem solid #fff;
	box-sizing: border-box;
}
.list-picture ul li:nth-child(3){
	border-right: none;
}
.list-picture ul li img{
	width: 100%;
	height: 100%;
}
.list-bottom{
	width: 100%;
	height: 0.57rem;
	display: flex;
	align-items: center;
	font-size: 0.16rem;
	color: #A6A6A6;
}
.eye{
	font-family: 'iconfont';
	color: #C1C1C1;
	margin-left: 0.21rem;
	line-height: 0.57rem;
}
.list-bottom span:nth-child(3){
	margin-left: 0.07rem;
}
.faxing{
	width: 100%;height: 4.04rem;
	border-bottom: 0,02rem solid #E5E5E5;
	box-sizing: border-box;padding:0 0.19rem;overflow: hidden;
}
.faxing h1{
	font-size: 0.24rem;
	color: #B1B2B4; 
	margin-top: 0.19rem;
}
.tupian{
	width: 5.04rem;
	height: 2.43rem;
	background: url('../img/t45.png') no-repeat center;
	background-size: 5.04rem 2.43rem;
	margin-top: 0.18rem;
}
/* 底部栏 */
.footer{
	width: 100%;
	height:0.64rem;
	border-top: 0.02rem solid #D0D0D0;
	border-bottom: 0.02rem solid #D0D0D0;
	position: fixed;
	z-index: 999;
	left: 0;
	bottom: 0;
}
.footer ul{
	width: 100%;
	height: 0.64rem;
	background: blue;
}
.footer ul li{
	list-style: none;
	width: 25%;
	height:0.64rem;
	background: #fff;
	float: left;
	box-sizing: border-box;	
}
.shouye{
	width: 0.47rem;
	height: 0.47rem;
	/* background: green; */
}
.shouyelogo{
	font-family: 'iconfont';
	font-size: 0.26rem;
	color: #0086FF;
	display:block ;
	margin-top: 0.07rem;
	display: block;
	text-align: center;
}
.shouye-wenzi{
	color:#0086FF ;
	font-size: 0.14rem;
	display: block;
	text-align: center;
}
.feleilogo{
	font-family: 'iconfont';
	font-size: 0.26rem;
	display:block ;
	margin-top: 0.07rem;
	display: block;
	text-align: center;
	color: #727272;
}
.feilei-wenzi{
	color:#727272 ;
	font-size: 0.07rem;
	display: block;
	text-align: center;
}

