@import url('base.css');

.tou{
	width: 100%;
	height: 3.81rem;
	background: #FC8401;
	overflow: hidden;
	position: relative;
}
.tou1{
	width: 100%;
	height: 0.52rem;
	margin-top: 0.42rem;
}
.iconfont{
	font-family: 'iconfont';
}
@font-face {
  font-family: 'iconfont';  /* project id 500028 */
  src: url('https://at.alicdn.com/t/font_500028_y4380fu9r6ixjemi.eot');
  src: url('https://at.alicdn.com/t/font_500028_y4380fu9r6ixjemi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_500028_y4380fu9r6ixjemi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_500028_y4380fu9r6ixjemi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_500028_y4380fu9r6ixjemi.svg#iconfont') format('svg');
}
.iconfont1{
	font-family: 'iconfont';
	font-size: 0.52rem;
	float: left;
	margin-left: 0.47rem;
	color: white;
}
.iconfont2{
	font-family: 'iconfont';
	font-size: 0.52rem;
	float: left;
	margin-left: 5.15rem;
	color: white;
}
.iconfont3{
	font-family: 'iconfont';
	font-size: 0.52rem;
	float: left;
	margin-left: 0.71rem;
	color: white;
}
.iconfont4{
	font-family: 'iconfont';
	font-size: 0.52rem;
	float: left;
	margin-left: 0.62rem;
	color: white;
}
.iconfont5{
	font-family: 'iconfont';
	font-size: 0.52rem;
	float: left;
	margin-left: 0.58rem;
	color: white;
}
.tou2{
	width: 6.4rem;
	height: 0.51rem;
	margin-left: 3.09rem;
	margin-top: 0.86rem;
	font-size: 0.5rem;
	line-height: 0.51rem;
	color: white;
}
.tou3{
	width: 7.4rem;
	height: 0.27rem;
	margin-left: 3.09rem;
	margin-top: 0.21rem;
	font-size: 0.26rem;
	line-height: 0.27rem;
	color: white;
}
.mai{
	width: 2.43rem;
	height: 2.43rem;
	border-radius: 15rem;
	position: absolute;
	left: 0.3rem;
	bottom: 15rem;
}
.mai img{
	width: 2.43rem;
	height: 2.43rem;
}
.yonghu{
	width: 100%;
	height: 2.56rem;
	background: white;
	border-bottom: 0.01rem solid #e1e1e1;
}
.yonghu1{
	width: 100%;
	height: 0.33rem;
	margin-top: 0.66rem;

}
.iconfont6{
	font-family: 'iconfont';
	font-size: 0.32rem;
	line-height: 0.33rem;
	float: left;
	margin-left: 0.31rem;
	color: #ffa220;
}
.yonghu11{
	width: 9rem;
	height: 0.29rem;
	float: left;
	margin-left: 0.27rem;
	font-size: 0.32rem;
	line-height: 0.33rem;
	color: black;
}
.iconfont7{
	font-family: 'iconfont';
	font-size: 0.32rem;
	line-height: 0.33rem;
	float: left;
	/* margin-left: 1.67rem; */
	color: #a4a4a4;}
	.pingjia{
		width: 100%;
		height: 1.5rem;
		background: white;
		margin-top: 0.64rem;
		display: flex;
		justify-content: space-around;

	}
	.pingjia1{
		width: 1.76rem;
		height: 0.87rem;
		margin-top: 0.63rem;
		font-size: 0.34rem;
		text-align: center;
		line-height: 0.87rem;
		color: #6d6d6d;
	}
	.pingjiaxia{
		width: 0.6rem;
		height: 0.06rem;
		background: #f2b100;
		margin-left: 1.5rem;
	}
	.hexiao{
		width: 100%;
		height: 12.64rem;
		background: white;
	}
	.rexiao{
		width: 100%;
		height: 15rem;
		display: flex;
	}
	.rexiao1{
		width: 2.1rem;
		height: 15rem;
	}
	.rexiao11{
		width: 100%;
		height: 0.34rem;
		margin-top: 0.54rem;

	}
	.rexiao111{
		width: 0.46rem;
		height: 0.46rem;
		background: #ff5540;
		float: left;
		margin-left: 0.29rem;
		border-radius: 50%;
	}
	.iconfont8{
	font-family: 'iconfont';
	font-size: 0.28rem;
	margin-left: 0.05rem;
    text-align: center;
	color:white;}
	.rexiao112{
		width: 0.695rem;
		height: 0.34rem;
		float: left;
		margin-left: 0.19rem;
		font-size: 0.32rem;
		line-height: 0.34rem;
		color: black;
		margin-top: 0.07rem;

	}
	.rexiao12{
		width: 100%;
		height: 0.8rem;
		font-size: 0.32rem;
		color: #676767;
		text-align: center;
		margin-top: 1.18rem;
	}.rexiao13{
		width: 100%;
		height: 0.33rem;font-size: 0.32rem;
		color: #676767;
		text-align: center;
		margin-top: 1.18rem;

	}
	.rexiao2{
		width: 8.7rem;
		height: 15rem;
		background: white;
	}
	.rexiao-character{
		width: 100%;height: 1.02rem;
		display: flex;
		align-items: center;
	}
	.character{
		font-size: 0.31rem;
		color: #000;
		margin-left: 0.36rem;
	}
	.humb{
		width: 100%;
		height: 3.3rem;
		display: flex;
	}
	.humb-left{
		width: 2.2rem;
		height: 2.18rem;
		margin-left: 0.42rem;
	}
	.humb-left img{
		width: 2.2rem;
		height: 2.18rem;
	}
	.humb-right{
		width: 6.2rem;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	h2{
		font-size: 0.46rem;
		color: #000;
		margin-left: 0.4rem;
	}
	.humb-right span{
		font-size: 0.27rem;
		color: #949494;
		margin-left: 0.4rem;
		display: block;
	    margin-top: 0.12rem;
	}
	.humb-right p{
		font-size: 0.4rem;
		color: #F0462F;
		margin-left: 0.4rem;
	}
	.humb-right p::last-letter{
		color: #979797;
	}
	.zankai{
		width: 0.8rem;
		height: 0.8rem;
		background: #FDC236;
		margin-left: 5rem;
		border-radius: 50%;
		color: #2A2742;
		font-size: 0.45rem;
		line-height: 0.8rem;
		text-align: center;
	}
	.footer{
		width: 100%;
		height: 1.5rem;
		background: #404040;
		display: flex;
		align-items: center;
		position: fixed;
		z-index: 999;
		left: 0;
		bottom: 0;
	}
	.footer-left{
		width: 1.5rem;
		height: 1.5rem;
		background: #747474;
		border-radius: 50%;
		position: absolute;
		top: 21.5rem;
		left: 0.3rem;
	}
	.shopping-car{
		width: 0.92rem;
		height: 0.82rem;
		margin-left: 0.3rem;
		margin-top: 0.3rem;
	}
	.shopping-car img{
		width: 0.92rem;
		height: 0.82rem;
	}
	.lingxu{
		margin-left: 2.21rem;
		color: #A1A1A1;
		font-size: 0.38rem;
		/* margin-top: 0.55rem; */
	}
	.wuxu{
		margin-left: 3.6rem;
		font-size: 0.5rem;
		color: #A0A0A0;
	}

